.container {
  /* align-items: center; */
  display: flex;

  position: absolute;
  top: 0;
  justify-content: center;
  height: 100%;
  width: 100%;


}




@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}






.child {
  /* background-color: rgba(255, 255, 255, 0.014); */

  border-radius: 5px;
  height: auto;
  width: auto;
  min-width: 60em;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 6.4em 6.2em 10em 6.2em auto 6.2em;
  padding: 10px;
  z-index: 1;
}

.boxInfo {
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 1em;
  border: rgba(255, 255, 255, 0.041) solid 1px;
  /* aukstis */
  grid-row-start: 3;
  grid-row-end: 3;
  /* plotis */
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  align-self: center;

  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);

  animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -o-animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;


}

.boxMenu {
  background: linear-gradient(
    46deg,
    rgba(255, 255, 255, 0.363) 0%,
    rgba(255, 255, 255, 0.37) 42%,
    rgba(255, 255, 255, 0.11) 100%
  );
  border-radius: 1em;
  border: rgba(255, 255, 255, 0.041) solid 1px;
  /* aukstis */
  grid-row-start: 5;
  grid-row-end: 6;
  /* plotis */
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);

  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;

}

.foot {
  /* aukstis */
  grid-row-start: 6;
  grid-row-end: 7;
  /* plotis */
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  align-self: center;
  color: white;
}
