.listItem {
    border-bottom: rgb(248, 246, 248) solid 2px;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
  }
  
  .itemDescription {
    text-align: start;
  }
  
  .itemDescription h1 {
    color: rgb(255, 255, 255);
  }
  .itemDescription p {
    font-size: medium;
    color: rgb(124, 88, 116);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .itemDescription h3 {
    color: rgb(131, 89, 89);
  }
  
  .itemOptions {
  }
  
  input {
    border-radius: 0.5em;
    border: none;
    margin-left: 2em;
    width: 5em;
    height: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
  
    display: inline-block;
  }
  .buttonAlig {
    padding-left: 2em;
  }
  
  button {
    color: rgb(255, 255, 255);
    background-color: rgba(240, 239, 238, 0.534);
    border-radius: 20px;
    height: 3em;
    width: 9em;
    border: none;
    align-self: flex-end;
    cursor: pointer;
  }
  